@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.attribution { font-size: 11px; text-align: center; color: white; }
.attribution a { color: hsl(228, 45%, 44%); }
*{
    padding: 0;
    margin: 0;
}
:root{
    --cor0:hsl(234, 29%, 20%);
    --cor1:hsl(235, 18%, 26%);
    --cor2: hsl(231, 7%, 60%);
    --cor3:hsl(0, 0%, 100%);
    --cor4: hsl(4, 100%, 67%);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: var(--cor0);

}
header{
    width: 100vw;
    height: 283px;
    background: url(../assets/images/illustration-sign-up-mobile.svg) no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 0px 0px 20px 20px;
}
main{
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 10px;
}
.input-div{
    width: 350px;
}

input{
    width: 340px;
    height: 60px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    outline: none;
}
#iemail{
    width: 322px;
    border: 1px solid lightgray;
    padding-left: 15px;
}
#isubmit{
    background-color: var(--cor0);
    font-weight: 700;
    color: white;
    cursor: pointer;
}
#address-txt{
    font-size: 12px;
    font-weight: 700;
}
#txt-erro{
    display: none;
    font-size: 12px;
    font-weight: 700;
    color: red;
}
.msg-acima{
    display: flex;
    justify-content: space-between;
    width: 340px;
}
.list{
    width: 330px;
    height: 40px;
    display: flex;
}
.list p{
    margin-left: 20px;
}
.list img{
    align-self: baseline;
}
section{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section > p{
    margin-bottom: 10px;
}
h1{
    font-size: 2.65rem;
}
